@font-face {
    font-family: DMSans-R;
    src: url(/src/assets/fonts/DMSans-Regular.ttf);
}


@font-face {
    font-family: DMSans-M;
    src: url(/src/assets/fonts/DMSans-Medium.ttf);
}

@font-face {
    font-family: DMSans-B;
    src: url(/src/assets/fonts/DMSans-Bold.ttf);
}